/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/.qmake.stash
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/.qtc_clangd/compile_commands.json
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/Makefile
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/Makefile
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/Makefile.Debug
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/Makefile.Release
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/TcpClient.exe
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/main.o
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/moc_predefs.h
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/moc_tcp_client.cpp
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/moc_tcp_client.o
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Debug/TcpClient/debug/tcp_client.o
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/.qmake.stash
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/.qtc_clangd/compile_commands.json
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/Makefile
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/Makefile
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/Makefile.Debug
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/Makefile.Release
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/TcpClient.exe
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/main.o
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/moc_predefs.h
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/moc_tcp_client.cpp
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/moc_tcp_client.o
/build/Desktop_Qt_5_15_2_MinGW_64_bit_Release/TcpClient/release/tcp_client.o
